---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/blog/sectionhead.astro";
import Pagination from "@/components/blog/pagination.astro";

// Sort content entries by publication date

export async function getStaticPaths({ paginate }: { paginate: any }) {
    const PAGE_SIZE = 6;
    const allPosts = await getCollection("blog", ({ data }) => {
        return !data.draft && data.publishDate < new Date();
    });

    const allSortedPosts = allPosts.sort(function (a, b) {
        return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
    });

    return paginate(allSortedPosts, {
        pageSize: PAGE_SIZE
    });
}
export const prerender = true;

const { page }: any = Astro.props;
---

<Layout title="Blog">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Our Blog</Fragment>
            <Fragment slot="desc">We write about building startups and thoughts going on our mind.</Fragment>
        </Sectionhead>
        <main class="mt-16">
            <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16">
                {
                    page &&
                        page.data &&
                        page.data.map((post: any, index: number) => (
                            <li>
                                <a href={`/content/articles/blog/${post.slug}`}>
                                    <div>
                                        <Image src={post.data.image.src} alt={post.data.image.alt} sizes="(max-width: 800px) 100vw, 800px" width={800} height={600} loading={index <= 2 ? "eager" : "lazy"} decoding={index <= 2 ? "sync" : "async"} class="w-full rounded-md object-cover" transition:name={`post-img-${post.slug}`} />
                                        <div class="mt-4">
                                            <span class="text-blue-400 uppercase tracking-wider text-xs font-medium">{post.data.category}</span>

                                            <h2 class="text-xl font-semibold leading-snug tracking-tight mt-1" transition:persist>
                                                {post.data.title}
                                            </h2>

                                            <div class="flex gap-2 mt-3 text-sm">
                                                <span class="text-gray-400">{post.data.author}</span>
                                                <span class="text-gray-400">• </span>
                                                <time class="text-gray-400" datetime={post.data.publishDate.toISOString()}>
                                                    {post.data.publishDate.toDateString()}
                                                </time>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        ))
                }
            </ul>
            <Pagination url={page.url} />
        </main>
    </Container>
</Layout>
