---
import type { ServerDataItem, Theme } from "../server_types";
import "@/styles/globals.css";
import { downloadImageUser, getUserUsername, supabase } from "@/supabase";
import { GoogleAnalytics } from "astro-google-analytics";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";

// GLOBAL FONTS
import "@fontsource-variable/inter-tight";
import ChipTabs from "@/components/linkspage/tabs";

interface Props {
    title: string;
    theme: Theme;
    bio: string;
    img: string;
    user: ServerDataItem;
}

const { title, theme, bio, img, user } = Astro.props;
const parms = Astro.params;
---

<!doctype html>
<html lang="en" class="dark py-3" style={{ background: theme.background, backgroundAttachment: "fixed" }}>
    <head>
        <GoogleAnalytics id="G-EDXTK3TC8Y" />
        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "jo9od2l0vk");
        </script>
        <meta charset="UTF-8" />
        <meta name="description" content={bio} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href={img} />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
        <SEO
            title={title}
            description={bio}
            openGraph={{
                basic: {
                    title: title,
                    type: "A type.",
                    image: img
                }
            }}
            twitter={{
                creator: "@doras_to"
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: img }],
                // extending the default meta tags
                meta: [
                    {
                        name: "twitter:image",
                        content: img
                    },
                    { name: "twitter:title", content: title },
                    { name: "twitter:description", content: bio }
                ]
            }}
        />
    </head>
    <ViewTransitions />
    <body transition:animate="none" class="">
        <ChipTabs url={Astro.url.pathname} user={user} client:load />
        <slot />
    </body>
</html>
